[submodule "JavaBasic-Projects-Hashing"]
	path = JavaBasic-Projects-Hashing
	url = https://github.com/creationk/JavaBasic-Projects-Hashing.git
[submodule "Java-Collections-Projects"]
	path = Java-Collections-Projects
	url = https://github.com/creationk/Java-Collections-Projects.git
[submodule "JavaBasic-Projects-OOPS"]
	path = JavaBasic-Projects-OOPS
	url = https://github.com/creationk/JavaBasic-Projects-OOPS
[submodule "Java-Exception-Handling"]
	path = Java-Exception-Handling
	url = https://github.com/creationk/Java-Exception-Handling.git
[submodule "Java-InnerClasses"]
	path = Java-InnerClasses
	url = https://github.com/creationk/Java-InnerClasses.git
[submodule "MultiThreading-Projects"]
	path = MultiThreading-Projects
	url = https://github.com/creationk/MultiThreading-Projects.git
[submodule "Java-AnonymousClassesAndLambda"]
	path = Java-AnonymousClassesAndLambda
	url = https://github.com/creationk/Java-AnonymousClassesAndLambda
[submodule "Java-NestedClasses"]
	path = Java-NestedClasses
	url = https://github.com/creationk/Java-NestedClasses.git
[submodule "AccessModifiers"]
	path = AccessModifiers
	url = https://github.com/creationk/AccessModifiers.git
